<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title> AutoNexus</title>
</head>
<body>

    <h1>Создаем возможности, воплощаем мечты. Вместе строим цифровое будущее! </h1>
    <img src="{% static 'images/Nag Logo.jpg' %}"  />
<p> Это инновационная онлайн-платформа, предоставляющая уникальные возможности для владельцев личных автотранспортных средств. Это веб-приложение  объединяет в себе поиск информации по двигателям и различным деталям для вашего автомобиля, а также предоставляет функционал для купли и продажи запасных частей прямо на сайте.
</p>
</body>
</html>
